input,
button,
select {
    font-size: 16px;
    font-family: $font-family-sans-serif;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid $color-dark-grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: $border-color-focus;
    outline: none;
}

// --- 

.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $color-dark-grey;
    border-radius: 4px;
    box-sizing: border-box;

    resize: vertical;
    min-height: 100px;
    font-size: 16px;
    line-height: 1.5;
}

.textarea:focus {
    border-color: $border-color-focus;
    outline: none;
}

// --- -

.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-container::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
}

.sm-select-container {
    position: relative;
    display: inline-block;
}

.sm-select-container>select {
    font-size: 14px;
}

.sm-select-container::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
}

select {
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $background-container;
    cursor: pointer;
    appearance: none;
}

.column select {
    margin-top: 12px;
    margin-left: 10px;
}

select:focus {
    border-color: $border-color-focus;
    outline: none;
}

// Link

a:link,
a:visited {
    color: $color-text;
}

// button 

button,
.btn {
    background-color: #4a76d7; //$color-green;
    color: $color-white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    // margin-left: 5px;
}


@media (hover: hover) {

    .btn:hover,
    button:hover {
        background-color: #2e59b8;
    }
}

.btn:active,
button:active {
    box-shadow: $box-shadow-inset;
}

// btn-outline

.btn-outline {
    background-color: transparent;
    color: $color-green;
    padding: 5px 15px 4px 15px;
    border: 1px solid $color-green;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (hover:hover) {
    .btn-outline:hover {
        background-color: $color-green;
        color: $color-white;
    }
}

// btn-outline-secondary

.btn-outline-secondary {
    background-color: transparent;
    color: #6c757d;
    margin: 0;
    border: 1px solid #6c757d;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (hover:hover) {
    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: $color-white;
    }
}

.btn-outline-secondary2 {
    background-color: transparent;
    color: #b5b5b6;
    margin: 0;
    border: 1px solid #b5b5b6;
    border-radius: 4px;
    cursor: pointer;
}

.btn-outline-secondary2.actived {
    background-color: #d4d5d6 !important;
}

// btn-secondary

.btn-secondary {
    color: $color-white;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid #6c757d;
}

@media (hover:hover) {
    .btn-secondary:hover {
        color: $color-white;
        background-color: #5a6268;
        border-color: #545b62;
    }

    .btn-outline-secondary2 {
        background-color: transparent !important;
        color: #b5b5b6;
        margin: 0;
        border: 1px solid #b5b5b6;
        border-radius: 4px;
    }
}

.btn-secondary:disabled,
.btn-secondary.disabled {
    color: $color-white;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: 0.65;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: $color-white;
    background-color: #545b62;
    border-color: #4e555b;
}

// Warning btn

.btn-outline-warning {
    background-color: transparent;
    color: #d08034;
    margin: 0;
    border: 1px solid #d08034;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (hover:hover) {
    .btn-outline-warning:hover {
        background-color: #d08034;
        color: $color-white;
    }
}


// badge

.badge {
    display: inline-block;
    padding: 8px 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 300rem;
    color: $color-white;
    background-color: #6c757d;
}

// ---- 

input[type='file'].hidden {
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    height: 1px;
    width: 1px;
    z-index: -5;
}

// ---

input::placeholder,
.ng-placeholder {
    color: #868e94 !important;
    font-family: $font-family-sans-serif !important;
    top: 8px !important
}

.ng-select-container {
    border: 1px solid $color-dark-grey !important;
    border-radius: 4px !important;
    min-height: 41px !important;
}

.ng-value-label {
    font-family: $font-family-sans-serif !important;
    font-size: 16px !important;
}

.ng-value {
    background-color: #dfe8f0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ng-value-icon.left {
    font-size: 16px;
    font-family: $font-family-sans-serif !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ng-option {
    font-size: 16px;
    font-family: $font-family-sans-serif !important;
}