<!-- row 1 -->
<div class="row1">
  <div class="asso">
    <a href="https://www.associationmariavaltorta.fr/" target="_blank">
      <img src="./assets/images/logo_asso_small.png" alt="" />
    </a>
  </div>
  <div class="cev">
    <a href="https://mariavaltortastore.com/fr/" target="_blank">
      <img src="./assets/images/logo_cev.png" alt="" />
    </a>
  </div>
</div>

<!-- row 2 -->
<div class="row2">
  <div>
    <div (click)="goValtortaOrg()" class="site">
      <img
        style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
        src="./assets/images/maria-valtorta-org.png"
        height="24px"
        alt=""
      />
      <div style="padding-right: 10px">maria-valtorta.org</div>
    </div>
  </div>
  <div>
    <div (click)="goForum()" class="site">
      <img
        style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
        src="./assets/images/maria-valtorta-org.png"
        height="24px"
        alt=""
      />
      <div style="padding-right: 10px">Forum Maria Valtorta</div>
    </div>
  </div>
  <div>
    <div (click)="goValtortaFr()" class="site">
      <img
        style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
        src="./assets/images/maria-valtorta-org.png"
        height="24px"
        alt=""
      />
      <div style="padding-right: 10px">valtorta.fr</div>
    </div>
  </div>
</div>

<hr />
<br />
